

.home{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

header{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background-color: #202135;
  color: white;
}

header h1{
  display: flex;
  align-items: center;
  font-size: 30px;
  width: 25%;
  font-weight: 400;
  padding-left: 5%;
  color: #f08d23;
  
}

header h1 svg {
  width: 40px;
}

header section{
  display: flex;
  width: 75%;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-left: 10%;
}

header section strong{
  width: 25%;
  text-transform: uppercase;
}

.activeStronge{
  color: #7ddcca;
  position: relative;
  font-size: 20px;
  transition: all 500ms ease;
  position: relative;
}

.activeStronge::after{
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: #7ddcca;
  border-radius: 50%;
  bottom: 6px;
  left: -20px;
  animation: apar 500ms ease;
}


@keyframes apar {
  0%{
    opacity: 0px;
    width: 0px;
    height: 0px;
  }

  100%{
    opacity: 1;
  }
}




main{
  display: flex;
  width: 100%;
  position: relative;
}


.right{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #302e4c;
  width: 75%;
  height: 90vh;
  position: relative;
}

.right::after{
  content: '';
  width: 2px;
  height: 100%;
  background: linear-gradient(90deg, rgba(100,111,218,1) 34%, rgba(103,190,213,1) 62%, rgba(89,244,204,1) 100%);
  left: 0px;
  position: absolute;
}

.contend{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.contend-movies {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-content: center;
  justify-items: center;
  gap: 15px;
  width: 80%;
  height: 100%;
  list-style: none;
}

.contend-movies li{
  animation: aparicion 600ms linear !important;
  width: 200px;
}

@keyframes aparicion {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.contend-movies li h3{
  font-weight: 400;
  font-size: 15px;
}


.contend-movies li img {
  width: 200px;
  height: 230px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.418);
}

.contend button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  background: linear-gradient(90deg, rgba(100,111,218,1) 34%, rgba(103,190,213,1) 62%, rgba(89,244,204,1) 100%);
  cursor: pointer;
  height: 50px;
  border-radius: 50px;
  border: none;
  opacity: 0.5;
  transition: opacity 200ms ease;
  color: white;
}

.contend button svg{
  width: 30px;
}


.contend button:hover{
  opacity: 1;
}

.tags {
  display: flex;
  gap: 10px;
  font-size: 15px;
  margin-top: 10px;
  
}

.tags p{
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-weight: 500;
}



.tags p:nth-child(1){
  background-color: #734fee;
  
}

.tags p:nth-child(2){
  background-color: #f08d23;
}



@media (max-width: 1380px){

  .left h2, .left section, .form-titulo, .clear, footer, .form-tags{
    margin-left: var(--maginResonsive);
  }

  header  h1{
    padding-left: 3%;
    color: #7ddcca;
  }
}

@media (max-height: 660px){

  .contend-movies li img{
    height: 150px;
  }

  .clear{
    margin-top: 25vh;
  }

  footer{
    margin-top: 15%;
  }

}

@media (max-width: 1135px){

  .form-titulo > input {
    width: 150px;
  }

  .contend-check{
    width: 200px;
  }

  .contend button{
    width: 40px;
    height: 40px;
  }


  .form-input input{
    width: 150px;
  }
  .hola{
    width: 200px;
  }
}


@media (max-width: 1000px){
  .abrir{
    display: flex;
    position: absolute;
    left: 10px;
    top:  0px;
    z-index: 10;
    width: 100px;
    height: 40px;
    background-color: transparent;
    border: none;
    padding-left: 10px;
    padding-top: 10px;
    animation: aparecer 600ms ease;
    cursor: pointer;
    transition: all 700ms ease;

  }

  .abrir > svg{
    width: 30px;
    color: #7ddcca;
  }

  header > h1{
    position: absolute;
    left: -10px;
    top: 10px;
  }


  .leftResponsive{
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 5;
    animation: aparecer 500ms ease;
  }

  .leftResponsive section, .form-titulo  input,.contend-check, footer{
    animation: aparecer 600ms ease;
  }

  .left h2{
    animation: aparecer 200ms ease;
  }



  .leftRespons {
    display: none;
  }


  .right{
    width: 100%;
  }

}


@media (max-width: 960px){

  .left{
    width: 210px;
    font-size: 14px;
  }

  .form-titulo > input{
    width: 120px !important;
  }

  .contend-check{
    width: 170px !important;
  }

  .form-input input{
    width: 120px !important;
  }
  .hola{
    bottom: -120px;
    width: 170px !important;
  }


  .left h2, .left section, .form-titulo, .clear, footer, .form-tags{
    margin-left: 8% !important;
  }

  .abrir{
    padding-left: 0px;
  }

  header h1{
    left: -15px;
  }
}


@media (max-width: 800px){


  .contend-movies li img{
    width: 150px;
  }

  .contend-movies{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 50px;
  }
}


@media (max-width: 664px){


  .contend{
    padding-left: 10px;
    padding-right: 10px;
  }
}


@media (max-width: 664px){


  .contend-movies{
    padding-left: 25px;
  }
}


@media (max-width: 664px){


  .contend-movies li{
    width: 150px;
  }

  .contend-movies li img{
    width: 120px;
  }
}





@keyframes aparecer {
  0%{
    width: 10%;
    opacity: 0;
  }


}









